<div class="col-lg-12">
<h3>Companies</h3>
 <div class="row">
   <div class="col-md-4">
     <div class="input-group">
       <input *ngIf="config.filtering" placeholder="Company Name"
              [ngTableFiltering]="config.filtering"
              class="form-control"
              (tableChanged)="onChangeTable(config)">
              
              <!--<button 
              type="submit" 
              class="btn btn-primary"
              [(ngModel)]="addBtnModel" btnCheckbox
              btnCheckboxTrue="1" btnCheckboxFalse="0"
              >
               Add
              </button>-->
              <button 
              type="submit" 
              class="btn btn-primary"
              [(ngModel)]="addBtnModel" btnCheckbox
              btnCheckboxTrue="1" btnCheckboxFalse="0" 
              (click)="showDialog=!showDialog" >Add</button>
              <!---->
              <app-add-view [(visible)]="showDialog">
                <h4>Add a Company</h4>
                <p>Name: <input type="text" /></p>
                <p>ID: <input type="text"/></p>
                <p>Registration number: <input type="text"  /></p>
                <p>Type: <input type="text"/></p>
                
                <br>
                
                <button (click)="showDialog=!showDialog" class="btn btn-sucess">Close</button>
                <button class="btn btn-sucess">Add</button>
              </app-add-view>
              <!---->
              <!---->
     </div>
   </div>
 </div>
 <br>
 <ng-table 
      [config]="config"
      (tableChanged)="onChangeTable(config)"
      (cellClicked)="onCellClick($event)"
      [rows]="rows" [columns]="columns">
</ng-table>
<pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination> 
<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
</div>