<div *ngIf="isLoggedIn">
  <header class="app-header navbar">
      <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
      <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
        </li>
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#"><i class="icon-list"></i></a>
        </li>
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
        </li>
        <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
          <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
            <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
            <span class="d-md-down-none">{{ name.email }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
    
            <div class="dropdown-header text-center"><strong>Account</strong></div>
              <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
              <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
              <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
              <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>
    
            <div class="dropdown-header text-center"><strong>Settings</strong></div>
              <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
              <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
              <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a>
              <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
              <div class="divider"></div>
            <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
            <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
          </div>
        </li>
        <button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>&#9776;</button>
      </ul>
    </header>


    
    
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/members']"><i class="icon-speedometer"></i> Dashboard</a> <!-- <span class="badge badge-info">NEW</span>-->
            </li>
            <li class="divider"></li>
            <li class="nav-title">
              Block5d
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
              <a class="font-weight-bold nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-briefcase fa-2x"></i> Project Management</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/companies']" id="companies"><i class="icon-event"></i> Companies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/projects']" id="projects"><i class="fa fa-building-o fa-2x"></i> Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/project-members']" id="project-members"><i class="icon-people"></i> Project Members</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/manage-sc']" id="manager-contracts"><i class="fa fa-calendar-check-o fa-2x"></i> Project Schedule</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/manage-sc']" id="manager-contracts"><i class="fa fa-id-card fa-2x"></i> Manage Dispute</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/manage-sc']" id="manager-contracts"><i class="fa fa-id-card fa-2x"></i> Upload Supporting Documents</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/manage-sc']" id="manager-contracts"><i class="fa fa-id-card fa-2x"></i> Search BQ</a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
              <a class="font-weight-bold nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Forms</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/manage-sc']" id="manager-contracts"><i class="fa fa-id-card fa-2x"></i> Inspection Forms</a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
              <a class="font-weight-bold nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> BIM</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/view-model']" id="viewmodels"><i class="icon-star"></i> Upload Revit Model</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/view-model']" id="viewmodels"><i class="icon-star"></i> Search Items on Revit Model</a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
              <a class="font-weight-bold nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Smart Contract</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/manage-sc']" id="manager-contracts"><i class="fa fa-wpexplorer fa-2x"></i> Manage Smart Contract</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/manage-sc']" id="manager-contracts"><i class="icon-star"></i> Search Smart Contract</a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
              <a class="font-weight-bold nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> System</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/projects']" id="projects"><i class="icon-calculator"></i> User Group</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/project-members']" id="projmembers"><i class="icon-star"></i> Permission</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]= "['/code-tables']" id="codetables"><i class="icon-star"></i> Manage Codes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]= "['/code-tables']" id="codetables"><i class="icon-star"></i> Manage Forms</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]= "['/code-tables']" id="codetables"><i class="icon-star"></i> Manage Fields</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]= "['/code-tables']" id="codetables"><i class="icon-star"></i> Form Designer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]= "['/code-tables']" id="codetables"><i class="icon-star"></i> Manage Field Dependencies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]= "['/code-tables']" id="codetables"><i class="icon-star"></i> Manage Form Validation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkAvtive="active" [routerLink]= "['/coed-tables']" id="codetables"><i class="icon-star"></i> Configure Workflow</a>
                </li>
              </ul>
            </li>
            <li class="divider"></li>
          </ul>
        </nav>
      </div>

          
              <!-- Breadcrumb -->
                <app-breadcrumbs></app-breadcrumbs>
                <!-- Breadcrumb Menu-->
                <li class="breadcrumb-menu d-md-down-none">
                  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn" href="#"><i class="icon-speech"></i></a>
                    <a class="btn" ><i class="icon-graph"></i> &nbsp;Dashboard</a>
                    <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
                  </div>
                </li>

          
            <aside class="aside-menu">
              <tabset>
                <tab>
                  <ng-template tabHeading><i class="icon-list"></i></ng-template>
                  <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
                    <small><b>Today</b></small>
                  </div>
                  <hr class="transparent mx-3 my-0">
                  <div class="callout callout-warning m-0 py-3">
                    <div class="avatar float-right">
                      <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div>Meeting with <strong>Lucas</strong></div>
                    <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 1 - 3pm</small>
                    <small class="text-muted"><i class="icon-location-pin"></i>&nbsp; Palo Alto, CA </small>
                  </div>
                  <hr class="mx-3 my-0">
                  <div class="callout callout-info m-0 py-3">
                    <div class="avatar float-right">
                      <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                    <div>Skype with <strong>Megan</strong></div>
                    <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 4 - 5pm</small>
                    <small class="text-muted"><i class="icon-social-skype"></i>&nbsp; On-line </small>
                  </div>
                  <hr class="transparent mx-3 my-0">
                  <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
                    <small><b>Tomorrow</b></small>
                  </div>
                  <hr class="transparent mx-3 my-0">
                  <div class="callout callout-danger m-0 py-3">
                    <div>New UI Project - <strong>deadline</strong></div>
                    <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 10 - 11pm</small>
                    <small class="text-muted"><i class="icon-home"></i>&nbsp; creativeLabs HQ </small>
                    <div class="avatars-stack mt-2">
                      <div class="avatar avatar-xs">
                        <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      </div>
                      <div class="avatar avatar-xs">
                        <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      </div>
                      <div class="avatar avatar-xs">
                        <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      </div>
                      <div class="avatar avatar-xs">
                        <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      </div>
                      <div class="avatar avatar-xs">
                        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      </div>
                    </div>
                  </div>
                  <hr class="mx-3 my-0">
                  <div class="callout callout-success m-0 py-3">
                    <div><strong>#10 Startups.Garden</strong> Meetup</div>
                    <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 1 - 3pm</small>
                    <small class="text-muted"><i class="icon-location-pin"></i>&nbsp; Palo Alto, CA </small>
                  </div>
                  <hr class="mx-3 my-0">
                  <div class="callout callout-primary m-0 py-3">
                    <div><strong>Team meeting</strong></div>
                    <small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 4 - 6pm</small>
                    <small class="text-muted"><i class="icon-home"></i>&nbsp; creativeLabs HQ </small>
                    <div class="avatars-stack mt-2">
                      <div class="avatar avatar-xs">
                        <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      </div>
                      <div class="avatar avatar-xs">
                        <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      </div>
                      <div class="avatar avatar-xs">
                        <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      </div>
                      <div class="avatar avatar-xs">
                        <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      </div>
                      <div class="avatar avatar-xs">
                        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      </div>
                      <div class="avatar avatar-xs">
                        <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      </div>
                      <div class="avatar avatar-xs">
                        <img src="assets/img/avatars/8.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      </div>
                    </div>
                  </div>
                  <hr class="mx-3 my-0">
                </tab>
                <tab>
                  <ng-template tabHeading><i class="icon-speech"></i></ng-template>
                  <div class="p-3">
                    <div class="message">
                      <div class="py-3 pb-5 mr-3 float-left">
                        <div class="avatar">
                          <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                          <span class="avatar-status badge-success"></span>
                        </div>
                      </div>
                      <div>
                        <small class="text-muted">Lukasz Holeczek</small>
                        <small class="text-muted float-right mt-1">1:52 PM</small>
                      </div>
                      <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                      <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
                    </div>
                    <hr>
                    <div class="message">
                      <div class="py-3 pb-5 mr-3 float-left">
                        <div class="avatar">
                          <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                          <span class="avatar-status badge-success"></span>
                        </div>
                      </div>
                      <div>
                        <small class="text-muted">Lukasz Holeczek</small>
                        <small class="text-muted float-right mt-1">1:52 PM</small>
                      </div>
                      <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                      <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
                    </div>
                    <hr>
                    <div class="message">
                      <div class="py-3 pb-5 mr-3 float-left">
                        <div class="avatar">
                          <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                          <span class="avatar-status badge-success"></span>
                        </div>
                      </div>
                      <div>
                        <small class="text-muted">Lukasz Holeczek</small>
                        <small class="text-muted float-right mt-1">1:52 PM</small>
                      </div>
                      <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                      <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
                    </div>
                    <hr>
                    <div class="message">
                      <div class="py-3 pb-5 mr-3 float-left">
                        <div class="avatar">
                          <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                          <span class="avatar-status badge-success"></span>
                        </div>
                      </div>
                      <div>
                        <small class="text-muted">Lukasz Holeczek</small>
                        <small class="text-muted float-right mt-1">1:52 PM</small>
                      </div>
                      <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                      <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
                    </div>
                    <hr>
                    <div class="message">
                      <div class="py-3 pb-5 mr-3 float-left">
                        <div class="avatar">
                          <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                          <span class="avatar-status badge-success"></span>
                        </div>
                      </div>
                      <div>
                        <small class="text-muted">Lukasz Holeczek</small>
                        <small class="text-muted float-right mt-1">1:52 PM</small>
                      </div>
                      <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                      <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
                    </div>
                  </div>
                </tab>
                <tab>
                  <ng-template tabHeading><i class="icon-settings"></i></ng-template>
                  <div class="p-3">
                    <h6>Settings</h6>
          
                    <div class="aside-options">
                      <div class="clearfix mt-4">
                        <small><b>Option 1</b></small>
                        <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                          <input type="checkbox" class="switch-input" checked>
                          <span class="switch-label" data-on="On" data-off="Off"></span>
                          <span class="switch-handle"></span>
                        </label>
                      </div>
                      <div>
                        <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                      </div>
                    </div>
          
                    <div class="aside-options">
                      <div class="clearfix mt-3">
                        <small><b>Option 2</b></small>
                        <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                          <input type="checkbox" class="switch-input">
                          <span class="switch-label" data-on="On" data-off="Off"></span>
                          <span class="switch-handle"></span>
                        </label>
                      </div>
                      <div>
                        <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                      </div>
                    </div>
          
                    <div class="aside-options">
                      <div class="clearfix mt-3">
                        <small><b>Option 3</b></small>
                        <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                          <input type="checkbox" class="switch-input">
                          <span class="switch-label" data-on="On" data-off="Off"></span>
                          <span class="switch-handle"></span>
                        </label>
                      </div>
                    </div>
          
                    <div class="aside-options">
                      <div class="clearfix mt-3">
                        <small><b>Option 4</b></small>
                        <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                          <input type="checkbox" class="switch-input" checked>
                          <span class="switch-label" data-on="On" data-off="Off"></span>
                          <span class="switch-handle"></span>
                        </label>
                      </div>
                    </div>
          
                    <hr>
                    <h6>System Utilization</h6>
          
                    <div class="text-uppercase mb-1 mt-4"><small><b>CPU Usage</b></small></div>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small class="text-muted">348 Processes. 1/4 Cores.</small>
          
                    <div class="text-uppercase mb-1 mt-2"><small><b>Memory Usage</b></small></div>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small class="text-muted">11444GB/16384MB</small>
          
                    <div class="text-uppercase mb-1 mt-2"><small><b>SSD 1 Usage</b></small></div>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small class="text-muted">243GB/256GB</small>
          
                    <div class="text-uppercase mb-1 mt-2"><small><b>SSD 2 Usage</b></small></div>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small class="text-muted">25GB/256GB</small>
                  </div>
                </tab>
              </tabset>
            </aside>
          </div>



